poetry.lock
client/__pycache__/
server/__pycache__/
common/__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
.DS_Store
server/web/node_modules/
server/web/package-lock.json
server/web/dist/
build/
dist/
*.spec